.sidebar {
  width: 25%;
  height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
  border-right: solid 6px #4b568b;

  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.6em;
}

.sidebar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;

  border-radius: 50%;
  border: solid #4b568b;
  border-width: 3px;

  height: 6vh;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: #2b2b2b
}

.sidebar a:hover {
  color: #000505;
}

.sidebar div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 24px;
  letter-spacing: normal;
  height: 16vh;
}

.div_one {
  background: #9267b4;
}

.div_two {
  background: #aa6ebe;
  height: 14vh;
}

.div_three {
  background: #c276c8;
  height: 14vh;
}

.div_four {
  background: #d27ec9;
  height: 14vh;
}

.div_five {
  background: #dd86c3;
  height: 14vh;
}

.div_six {
  background: #e78ebc;
  height: 14vh;
}

.div_seven {
  background: #f196b5;
  height: 14vh;
  font-size: 10px;
  letter-spacing: normal;
  color: rgba(43, 43, 43, 0.3);
}
